div#jqt .toolbar .btn2 {
	-webkit-border-radius: 5px;
	-webkit-border-image: none;
	display: block;
	background: rgba(40, 29, 25, .4) none !important;
	padding: 6px;
	border: 1px solid #372823;
	float: left;
	color: #fff;
	-webkit-box-shadow: rgba(255,255,255, .4) 0 1px 0;
	text-decoration: none;
	position: absolute;
	top: 5px;
	right: 10px;
	font-size: 13px;
	text-shadow: #000 0 -1px 0;
	display: inline;
}
body{background-color:blueviolet;
	
}